.list-BestSellers {
  display: flex;
  /* position: absolute;
  width: 1248px;
  height: 407px;
  left: 336px;
  top: 536px; */
  /* width: 60%vh; */
  align-items: center;
  justify-content: center;
  
}

.infos-item {
  background-color: #E6E8EA;
}

.item-BestSellers {
  margin: 15px;
  display:inline-block;
  width: 216px;
  height: auto;
  text-align: center;

}

.product-name {
  /* position: absolute; */
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #7A7A7A;
}

.Title-bestSellers {
  margin-left: 25%;;
}