.promotion-section {
  background-color: #eeeeee;
  margin: 0 auto;
}

.promotion-title {
  font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
  padding: 2%;
  color: #333333;
  text-align: center;
}

.promotion-form {
  display: flex;
  justify-content: center;
}

.promotion-input {
  margin: 0.5vh;
  margin-bottom: 2vh;
  border-radius: 3px;
  border: 0;
  font-size: 12px;
  padding: 1.2vh;
}

.promotion-btn {
  margin: 1vh;
  margin-bottom: 2vh;
}

.sucess-msg {
  color: black;
  text-align: center;
  font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  margin: 5px 0 0 0;
  margin-top: 2vh;
}

.shot-top {
  margin-top: 1px;
}